body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#tasks {
    padding: 20px;
}

.task {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}
